@using MoviesAdmin.Models.UserRolesModels
@model List<MoviesAdmin.Models.UserRolesModels.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Roles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    @if(user.Roles.Any(u=>u=="Admin"|| u=="Moderator")){
                        <a  asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                        
                    }else{
                        <a  asp-controller="UserRoles" asp-action="UserBookings" asp-route-userId="@user.UserId">View User's Booking</a>
                        <span>|</span>
                        <a  asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                    }
                </td>
                <td>
                    <form asp-action="Delete">
                        <a class="btn btn-danger" asp-controller="UserRoles" asp-action="Delete" asp-route-userId="@user.UserId">Delete User</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>